<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
  </head>
  <div class=allBody id=homeBody>
    <body class ="container" id="homeContainer">
      <div class="welcomeForm">
        <div class="image" id="CIA Logo">
          image
        </div>

        <div class="homeLink" id="signupLink">
          <a href="/users/signup">Create Authentication</a>
        </div>
        <div class="homeLink" id="loginLink">
          <a href="/users/login">Login</a>
        </div>
        <divclass="buttonForm" id="logoutButton">
          <form method="post" action="users/logout?_method=DELETE">
            <button>logout</button>
          </form>
        </div>
        <div>
          <a href="/images">images</a>
        </div>
      </div>
      <div class="welcome" id="homeWelcome">
        <% if (user) {%>
          <a href=<%= "/users/" + user.id%> >Welcome Back Agent <%= user.codename %></a>
        <% } %>
      </div>
    </body>
  </div>
</html>
