<!DOCTYPE html>
<html lang="en">
  <div class="everything" id="homeEverything">
    <head>
      <meta charset="UTF-8">
      <title>Document</title>
      <link rel="stylesheet" href="../css/styles.css">
    </head>
    <div class="allBody" id="homeBody">
      <div class="logoBox">
        <div class="ciaLogo" id="ciaLogo"></div>
      </div>
      <body class ="container" id="homeContainer">
        <div class="welcomeForm">
          <div class="title">
            <h1>Spy Vs Spy</h1>
          </div>
          <div>
            <a class="securityA" href="/users/signup">Verify Credentials</a>
            <a class="securityA" href="/users/login">Establish Connection</a>
          </div>
        </div>
        <div class="buttonForm" id="logoutButton">
          <% if (user) {%>
            <form method="post" action="users/logout?_method=DELETE">
              <button class="securityButton" type="submit">Disconnect</button>
            </form>
          <% } %>
        </div>
      </body>
    </div>
  </div>
</html>
